<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}fredrsf.ru - Блог о программировании и разработке веб-приложений.{% endblock %}</title>
        <meta name="description" content="">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" href="{{ asset('css/prism.css') }}">
        {% endblock %}
        <link rel="canonical" href="/">
        <!--[if lt IE 9]>
        <script src="{{ asset('js/vendor/html5shiv.min.js') }}"></script>
        <![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src='{{ asset('js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js') }}'></script>
            <script src="{{ asset('js/vendor/jquery-1.11.2.min.js') }}"></script>
            <script src='{{ asset('js/vendor/jquery.jpanelmenu.min.js') }}'></script>
            <script src='{{ asset('js/vendor/fastclick.min.js') }}'></script>
            <script src='{{ asset('js/vendor/prism.js') }}'></script>
            <script src='{{ asset('js/main.js') }}'></script>
        {% endblock %}
    </body>
</html>
